<h1>プロフィール編集</h1>

<%= form_with model: @user, url: profile_path, method: :patch do |f| %>
  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div style="margin-top: 12px;">
    <%= f.label :team_id, "所属チーム" %><br>
    <%= f.collection_select :team_id, Team.order(:name), :id, :name, include_blank: "未設定" %>
  </div>

  <div style="margin-top: 16px;">
    <%= f.submit "保存" %>
  </div>
<% end %>
