<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= booking.gym_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= booking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= booking.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= booking.note %>
  </p>

</div>
