<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, "顧問（ユーザー）" %><br>
    <%= form.collection_select :user_id, User.order(:id), :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :gym_id, "体育館" %><br>
    <%= form.collection_select :gym_id, Gym.order(:id), :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :start_time, "開始" %><br>
    <%= form.datetime_local_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, "終了" %><br>
    <%= form.datetime_local_field :end_time %>
  </div>

  <div>
    <%= form.label :status, "ステータス" %><br>
    <%= form.select :status, Booking.statuses.keys.map { |k| [k, k] }, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.label :note, "メモ" %><br>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
