<div id="<%= dom_id match %>">
  <p>
    <strong>Gym:</strong>
    <%= match.gym_id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= match.starts_at %>
  </p>

  <p>
    <strong>Team a:</strong>
    <%= match.team_a_id %>
  </p>

  <p>
    <strong>Team b:</strong>
    <%= match.team_b_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= match.note %>
  </p>

</div>
